# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear
*.nar

# VM crash logs
hs_err_pid*
replay_pid*

# Build directories (Maven, Gradle)
/target/
/build/
.gradle/
/out/

# JUnit and Surefire test reports / results
/test-results/
/surefire-reports/
/failsafe-reports/
*.exec
*.ser

# IDE specific files (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/

# Operating System files
.DS_Store
Thumbs.db
